{% extends "equines/base.html" %} 
{% block content %} 
    <h4>Personnes et leurs chevaux</h4>
    {% if oldest_persons %}
        <ul class="list-group mx-3">
        {% for person in oldest_persons %}
            {% with person=person horses=person.owned_horses.all description=person.get_owned_horses_names %}
                {% include "equines/partials/person_horse_item.html" %}
            {% endwith %}
        {% endfor %}
        </ul>
    {% else %}
        <p class="alert alert-warning mx-3">No person available.</p>
    {% endif %}
{% endblock %}