{% extends 'equines/base.html' %}
{% load custom_filters %}

{% block content %}

    <h3>Modifier une leçon :</h3>
    <p>{{lesson.datetime|date:"l d F à H:i" }}</p>
    <p>moniteur: {{ lesson.instructor }}</p>
    <p>{{ lesson.participants.all|length }} inscrit(s) :</p>
    
    <ul class="list-group mx-3">
        
        {% for participant in lesson.participants.all %}
            {% with person=participant.rider horses=participant.equine|to_list description=participant.equine.name participant_id=participant.id %}
                {% include "equines/partials/person_horse_item.html" %}
            {% endwith %}
        {% endfor %}
    </ul>
    
    Inscrire un cavalier et un cheval :
    <form action="{% url 'add_participant' lesson.id %}" method="post">
        {% csrf_token %}
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
        <label for="rider">Cavalier :</label>
        <select name="rider">
            {% for rider in riders %}
            <option value="{{ rider.id }}">{{ rider.first_name }} {{ rider.last_name }}</option>
            {% endfor %}
        </select>
        <label for="equine">Cheval :</label>
        <select name="equine">
            {% for equine in equines %}
            <option value="{{ equine.id }}">{{ equine.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Ajouter">
    </form>
{% endblock %}